<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Vue.JS - Primeiros Passos</title>
    </head>
   <body>
        <div id="app">
            <p>N1:<input type="text" v-model="txtN1"></p>
            <p>N2:<input type="text" v-model="txtN2"></p>
            <p>
                <button v-on:click="somar">Somar</button>
                <button v-on:click="diminuir">Diminuir</button>
            </p>
            <p>{{ resultado }}</p>
        </div>
        <script src="aula10.js"></script>
   </body> 
</html>